body {
  font-size: 1rem;
  line-height: 1.5;
  color: #707070; // $dark;
}
img {
  vertical-align: middle;
}
ol,
ul,
li,
p {
  margin-bottom: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.fab,
.fas,
.material-icons,
.material-icons-outlined {
  vertical-align: text-bottom;
}
.fab,
.fas {
  transform: translateY(2px);
}
.form-control::placeholder {
  font-size: $h5-font-size;
  color: $primary;
}

