<div class="socialBar">
  <ul class="socialBar-list">
    <li class="mb-2">
      <a
        href="#"
        onclick="socialAlert(event)"
        class="link-primary"
      >
        <i class="fab fa-facebook socialBar-icon bg-white border rounded-circle border-5 border-white"></i
      ></a>
    </li>
    <li class="mb-2">
      <a href="#" onclick="socialAlert(event)" class="link-primary ">
        <i class="fab fa-instagram socialBar-icon bg-white border rounded-3 border-5 border-white"></i
      ></a>
    </li>
    <li class="mb-2">
      <a href="#" onclick="socialAlert(event)" class="link-primary">
        <i class="fab fa-line socialBar-icon bg-white border rounded-3 border-5 border-white"></i
      ></a>
    </li>
  </ul>
</div>
