<div class="socialBar">
  <ul class="socialBar-list">
    <li class="mb-2"><a href="#" onclick="socialAlert(event)" class="link-primary">
      <i class="fab fa-facebook socialBar-icon"></i></a></li>
    <li class="mb-2"><a href="#" onclick="socialAlert(event)" class="link-primary">
      <i class="fab fa-instagram socialBar-icon"></i></a></li>
    <li class="mb-2"><a href="#" onclick="socialAlert(event)" class="link-primary">
      <i class="fab fa-line socialBar-icon"></i></a></li>
  </ul>
</div>