$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: false,
      property: font-size,
      responsive: true,
      class: fs,
      values: $font-sizes,
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        lighter: $font-weight-lighter,
        light: $font-weight-light,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
  )
);
