.input-placeholder-fs-base {
  &::placeholder {
    color: $secondary;
    font-size: $font-size-base;
  }
}
.input-placeholder-secondary {
  &::placeholder {
    color: $secondary;
  }
}
.input-placeholder-primary {
  &::placeholder {
    color: $primary;
  }
}
