$font-family-sans-serif: source-han-sans-traditional, sans-serif;

// theme-color
$primary:   #907a7b;
$secondary: #c0a4a5;
$light:     #f5f0e7;
$dark:      #707070;

// Grid columns
$grid-gutter-width: 1.875rem; //30px

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,        //  4px
  2: $spacer * .5,         //  8px
  3: $spacer * .75,        // 12px
  4: $spacer * 1,          // 16px
  5: $spacer * 1.25,       // 20px
  6: $spacer * 1.5,        // 24px
  7: $spacer * 1.75,       // 28px
  8: $spacer * 2,          // 32px
  9: $spacer * 2.25,       // 36px
  10: $spacer * 2.5,       // 40px
  11: $spacer * 2.75,      // 44px
  12: $spacer * 3,         // 48px
  'xs': $spacer * 0.375,   // 6px
  'sm': $spacer * 0.625,   // 10px
  'md': $spacer * 1.875,   // 30px
);

// Typography
$font-weight-medium: 500;

$font-size-base:     1rem;

$h1-font-size:   $font-size-base * 2.25;   //36px
$h2-font-size:   $font-size-base * 2;      //32px
$h3-font-size:   $font-size-base * 1.75;   //28px
$h4-font-size:   $font-size-base * 1.5;    //24px
$h5-font-size:   $font-size-base * 1.25;   //20px
$h6-font-size:   $font-size-base;          //16px

$font-sizes: (
  1: $h1-font-size,          //36px
  2: $h2-font-size,          //32px
  3: $h3-font-size,          //28px
  4: $h4-font-size,          //24px
  5: $h5-font-size,          //20px
  6: $h6-font-size,          //16px
  7: $h6-font-size * 0.875,  //14px
  lg: $h6-font-size * 2.5,   //40px
  xl: $h6-font-size * 2.75   //44px
);

// Navbar
$navbar-padding-y:                  1.125rem;
$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;
$navbar-light-toggler-border-color: transparent;
$navbar-light-hover-color: $primary;
$navbar-light-active-color:         rgba($primary, .9);
$navbar-light-disabled-color:       rgba($primary, .3);

$navbar-brand-height: 31px;
$navbar-brand-padding-y: 0;

// Button
$input-btn-padding-y:         0.5rem;
$input-btn-padding-x:         1rem;

// Border
$border-radius:               .3125rem;
$border-radius-lg:            1rem;

// Links
$link-decoration:   none;