<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://kit.fontawesome.com/d1bdac5eaf.js" crossorigin="anonymous"></script>
  <script>
    (function(d) {
      var config = {
        kitId: 'zma3hfb',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body class="position-relative">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-lg-5">
      <div class="container">
        <div class="d-block d-lg-flex w-100">
          <div class="d-flex justify-content-between align-items-center w-100 w-lg-auto">
            <a class="navbar-brand" href="./index.html">
              <img class="img-fluid" src="./assets/images/DOYOGA-logo@2x.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons-outlined text-primary fs-xl">
                reorder
              </span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-center">
              <li class="nav-item px-2">
                <a class="nav-link" href="./course.html">課程介紹</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="./surroundings.html">瑜珈空間</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="./curriculum.html">當月課表</a>
              </li>
          </div>
          <div class="d-none d-lg-block">
            <a href="./reservation.html" class="btn btn-outline-primary fs-6 rounded-3 me-3">立即預約</a>
            <a href="./contact.html" class="btn btn-outline-primary fs-6 rounded-3">聯絡我們</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="socialBar">
    <ul class="socialBar-list">
      <li class="mb-2"><a href="#" class="link-primary">
        <i class="fab fa-facebook socialBar-icon"></i></a></li>
      <li class="mb-2"><a href="#" class="link-primary">
        <i class="fab fa-instagram socialBar-icon"></i></a></li>
      <li class="mb-2"><a href="#" class="link-primary">
        <i class="fab fa-line socialBar-icon"></i></a></li>
    </ul>
  </div>

  <%- contents %>

  <footer class="footer bg-primary text-white ">
    <div class="container py-6 py-md-8">
      <div class="row">
        <div class="col-lg-5 d-flex align-items-center">
          <h4 class="mb-2 mb-lg-0 fw-normal fs-md-3 fw-medium lh-base">現在訂閱，獲得課程優惠碼！</h4>
        </div>
        <div class="col-md-6 col-lg-4 ms-lg-auto">
          <div class="input-group">
            <input type="text" class="form-control py-2 px-4" id="btnSubscription" placeholder="輸入您的電子信箱">
            <button type="button" class="btn btn-secondary">訂閱</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid border-bottom border-1 border-white"></div>
    <div class="container py-6 py-md-8">
      <div class="navbar navbar-dark py-0 flex-column align-items-start position-relative">
        <div class="d-flex justify-content-between w-100">
          <div class="navbar-brand"><img src="./assets/images/DOYOGA.png" class="img-fluid" alt="sm-logo"></div>
          <ul class="d-flex">
            <li class="ms-2"><i class="fab fa-facebook fa-lg"></i></li>
            <li class="ms-2"><i class="fab fa-instagram fa-lg"></i></li>
            <li class="ms-2"><i class="fab fa-line fa-lg"></i></li>
          </ul>
        </div>
        <ul class="navbar-nav mt-1">
          <li class="nav-item">
            <a class="nav-link text-white py-1 px-0 " href="./course.html">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white py-1 px-0" href="./surroundings.html">瑜珈空間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white py-1 px-0 pb-md-0" href="./curriculum.html">當月課表</a>
          </li>
        </ul>
        <p class="position-relative position-md-absolute bottom-0 start-0 start-md-50 translate-middle-null translate-middle-md-x mt-1">© 2021. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>