.bg-hero {
  height: 560px;
  background-image: url("../images/hero.jpeg");
  @include media-breakpoint-up(md) {
    height: 582px;
  }
}

.bg-feature {
  height: 420px;
  @include media-breakpoint-up(md) {
    height: 252px;
  }
  @include media-breakpoint-up(lg) {
    height: 420px;
  }
}

.bg-teacher {
  height: 628px;
}

.bg-cover {
  background-size: cover;
}
