.wrap-hover {
  &-scale-1x {
    img {
      transition: all 0.5s ease-in;
    }
    &:hover,
    &:focus {
      img {
        transform: scale(1.2);
      }
    }
  }
  &-opacity {
    .wrap-hover-opacity-container {
      opacity: 0;
    }
    &:hover,
    &:focus {
      .wrap-hover-container {
        opacity: 1;
      }
    }
  }
}
.hover {
  transition: all 0.3s linear;
  &-translateY-sm {
    &:hover,
    &:focus {
      transform: translateY(-0.5rem);
      @include media-breakpoint-up(lg) {
        transform: translateY(-1rem);
      }
    }
  }
  &-bg-light {
    &:hover,
    &:focus {
      background-color: $light;
    }
  }
  &-font-weight {
    font-weight: $font-weight-regular !important;
  }
  &-underline {
    background-image: linear-gradient($primary, $primary);
    background-position: left bottom;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size 0.25s;
    &:hover,
    &:active,
    &:focus,
    &.active {
      background-size: 4.5rem 1px;
      @include media-breakpoint-up(lg) {
        background-size: 100% 1px;
      }
    }
  }
}
