.input-placeholder {
  &-fs-base::placeholder {
    font-size: $font-size-base;
  }
  &-fs-5::placeholder {
    font-size: $h5-font-size;
  }
  &-primary::placeholder {
    color: $primary;
  }
  &-secondary::placeholder {
    color: $secondary;
  }
}