.input-placeholder {
  &-fs-base::placeholder {
    color: $secondary;
    font-size: $font-size-base;
  }
  &-primary::placeholder {
    color: $primary;
  }
  &-secondary::placeholder {
    color: $secondary;
  }
}
