.max-h-card-body{
  max-height: 72px;
}

.w-avatar {
  width: 48px;
  @include media-breakpoint-up(md) {
    width: 68px;
    &.active{
      width: 94px;
    }
  }
}

.w-circle {
  width: 60px;
}
.min-h-testimonials {
  min-height: 426px;
}