.w-avatar {
  width: 48px;
  @include media-breakpoint-up(md) {
    width: 68px;
    &.active {
      width: 94px;
    }
  }
}
.h-square {
  height: 243px;
  @include media-breakpoint-only(md) {
    height: 238px;
  }
}
