.btn {
  color: $dark;
  font-size: $h5-font-size;
  line-height: 1.35;
  &-primary,
  &-primary:hover,
  &-secondary,
  &-secondary:hover,
  &-outline-primary:hover {
    color: $white;
  }
  &-secondary:hover,
  &-outline-primary:hover {
    background: $primary;
  }
  &-outline-primary {
    color: $primary;
  }
}
