.loading {
  background-color: rgba($secondary, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2100;
  .ball-spin-fade-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(50%);
    transform: scale(2);
  }
}
.loader{
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-25%) translateX(-15%);
  }
}
