.socialBar {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: fixed;
    top: 27%;
    right: 0;
    padding-right: 1rem;
    z-index: 2000;
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
  }
  &-icon {
    font-size: 2.75rem;
    // line-height: 1.2;
  }
}
