.swiper {
  &-container {
    width: 100%;
  }
  &-wrapper {
    max-height: 1200px;
  }
  &-slide {
    width: 255px;
    @include media-breakpoint-up(md) {
      width: 210px;
    }
    @include media-breakpoint-up(lg) {
      width: 255px;
    }
  }
  &-image {
    height: 196px;
    @include media-breakpoint-up(md) {
      height: 161px;
    }
    @include media-breakpoint-up(lg) {
      height: 196px;
    }
  }
  &-slide-md-card {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 330px;
    }
  }
  &-avatar {
    width: 96px;
    height: 96px;
  }
  &-vertical {
    width: 330px;
    @include media-breakpoint-up(md) {
      width: 350px;
    }
  }
  &-pagination {
    transform: translateY(15px);
  }
}
