.swiper {
  &-container {
    width: 100%;
  }
  &-container-course {
    width: 110%;
  }
  &-wrapper {
    max-height: 1200px;
  }
  &-wrapper-md {
    @include media-breakpoint-down(sm) {
      max-height: 380px;
    }
  }
  &-image {
    height: 196px;
    @include media-breakpoint-up(md) {
      height: 161px;
    }
    @include media-breakpoint-up(lg) {
      height: 196px;
    }
  }
  &-slide-sm-card {
    @include media-breakpoint-only(md) {
      min-width: 1180px;
    }
  }
  &-slide-lg-card {
    width: 255px;
    @include media-breakpoint-only(md) {
      width: 210px;
    }
  }
  &-slide-xl-card {
    @media (max-width: 768px) {
      width: 43%!important;
    }
    @include media-breakpoint-up(lg) {
      width: 445px !important;
    }
  }
  &-slide-md-card {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 330px;
    }
  }
  &-avatar {
    width: 96px;
    height: 96px;
  }
  &-vertical {
    width: 330px;
    @include media-breakpoint-up(md) {
      width: 350px;
    }
  }
  &-pagination {
    transform: translateY(15px);
  }
}
